
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  border: none;
  background-color:#FD6E0A;
  border-radius: 5px;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}


/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
  width: 74%;
  max-width: 1140px;
  /*border:1px solid red;*/
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo{
  font-size: 45px;
  font-weight: 900px;
}
.color-orange{
  color: #FD6E0A;
}
nav .menu{
  display: flex;
  align-items: center;
  gap: 51px;
  list-style-type: none;
}
nav .menu a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
